/* body 스타일 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.empty-space {
  height: 25vh; /* 여백의 높이를 조절하세요. */
}

/* .title-container에서 position, top, left, transform 스타일을 제거하세요. */
.title-container {
  text-align: center;
}


/* h1 스타일 */
h1 {
  font-size: 4em;
  margin-bottom: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 4em;
  min-width: 50%;
}

/* bubbles-container 스타일 */
.bubbles-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* bubble 스타일 */
.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: scale(0);
  animation: bubble 15s linear infinite;
}

/* bubble 애니메이션 */
@keyframes bubble {
  0% {
    transform: translateY(100vh) scale(0);
  }
  50% {
    transform: translateY(-100vh) scale(3);
  }
  100% {
    transform: translateY(-100vh) scale(0);
  }
}

/* contact-info 스타일 */
.contact-info {
  margin-top: 20px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

/* 포트폴리오 컨테이너 스타일 */
.portfolio-container {
  width: 80%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 5vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 포트폴리오 컨테이너에 걸린 링크 스타일 */
.portfolio-container a {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

/* 이미지 컨테이너 스타일 */
.preview-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 설명 컨테이너 스타일 */
.description-container {
  flex: 1;
  padding: 20px;
}

/* 이미지 스타일 */
.preview-image {
  width: 80%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

/* 이미지 애니메이션 */
.preview-image.visible {
  opacity: 1;
  transform: translateY(0);
}
